<html>

<head>
    <meta charset=utf8>
    <title>test</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../dist/shadow.js"></script>
    <script defer>
        function newApp(el){
            document.addEventListener('DOMContentLoaded', () => {
                new Vue({
                    el: document.querySelector(el),
                    data: {
                        value: 1
                    }
                })
            })
        }
        newApp('#vshadow')
        newApp('#app')
        newApp('#abstract')
        newApp('#static')
    </script>
</head>

<body>
    <div id="vshadow">
        <div>v-shadow</div>
        <input v-model="value" type="number">
        <section v-shadow v-if="value != 3">
            <article v-if="value == 1">
                <p>exist</p>
                <p>{{value}}</p>
            </article>
        </section>
    </div>
    <div id="app">
        <div>default</div>
        <input v-model="value" type="number">
        <shadow-root>
            <shadow-root v-if="value == 1">
                <p>exist</p>
                <p>{{value}}</p>
            </shadow-root>
        </shadow-root>
    </div>
    <div id="abstract">
        <div>abstract</div>
        <input v-model="value" type="number">
        <section>
            <shadow-root v-if="value != 3" :abstract=true>
                <p>exist</p>
                <p v-if="value == 1">{{value}}</p>
            </shadow-root>
        </section>
    </div>
    <div id="static">
        <div>static</div>
        <input v-model="value" type="number">
        <section>
            <shadow-root v-if="value != 3" :static=true>
                <p>exist</p>
                <p v-if="value == 1">{{value}}</p>
            </shadow-root>
        </section>
    </div>
</body>

</html>